---
interface Props {
	label: string;
	id: string;
	name: string;
	onchange?: string;
	accept?: string;
	required?: boolean;
}

const { label, id, name, accept, onchange, required = false } = Astro.props;
---

<div>
	<label class="block text-sm font-medium text-gray-700">{label}</label>
	<input
		type="file"
		id={id}
		name={name}
		accept={accept}
		class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100"
		onchange={onchange}
		required={required}
	/>
</div>
