---
type Option = {
	label: string;
	value: string;
};

interface Props {
	label: string;
	id: string;
	name: string;
	options: Option[];
}

const { label, id, name, options } = Astro.props;
---

<div>
	<label class="block text-sm font-medium text-gray-700">{label}</label>
	<select
		id={id}
		name={name}
		class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
	>
		{
			options.map((option: Option) => (
				<option value={option.value}>{option.label}</option>
			))
		}
	</select>
</div>
